In [10]:
import pandas as pd
import dask.dataframe as dd
from pyspark.sql.functions import col, when, year, month, current_date, datediff, to_date, explode, get_json_object, udf
from pyspark.sql.types import StringType
import json
import datetime
from pyspark.sql import SparkSession
spark = (
    SparkSession.builder\
    .appName("SalesData")\
    .getOrCreate())

In [3]:
from google.colab import drive
drive.mount('/content/drive')
df = spark.read.csv("/content/drive/MyDrive/Sales_Dataset__500_Records_.csv", header=True, inferSchema=True)

Mounted at /content/drive

**1. DataFrame Creation and Inspection**

In [11]:
# PySpark
df.show(5)
df.show(5, truncate=False)
df.tail(5)
print(df.printSchema())

# Pandas
pdf = pd.read_csv("/content/drive/MyDrive/Sales_Dataset__500_Records_.csv")
print(pdf.head(5))
print(pdf.tail(5))
print(pdf.dtypes)

# Dask
ddf = dd.read_csv("/content/drive/MyDrive/Sales_Dataset__500_Records_.csv")
print(ddf.head(5))
print(ddf.tail(5))
print(ddf.dtypes)

+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|   2824| Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|
|   7912|  Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|
|   4611|  Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|
|   3547|Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|
|   8527|  Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|CustomerName  |ProductCategory|Amount|OrderDate |DeliveryStatus|Discount|City            |PaymentMode|CustomerSince|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|2824   |Donald Walker |Books          |783.04|2024-12-26|Returned      |0.15    |Lake Joyside    |Credit Card|2020-10-15   |
|7912   |Brandon Hall  |Groceries      |905.0 |2024-09-12|Cancelled     |0.03    |New Jamesside   |Wallet     |2022-03-15   |
|4611   |Donald Booth  |Fashion        |657.96|2025-01-12|Returned      |0.01    |Lake Roberto    |Wallet     |2021-08-07   |
|3547   |Phillip Garcia|Fashion        |606.89|2024-03-24|Returned      |0.15    |West Melanieview|Wallet     |2020-08-08   |
|8527   |Valerie Gray  |Toys           |77.87 |2024-08-04|Delivered     |0.17    |Mariastad       |Cash       |2022-11-15   |
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

root
 |-- OrderID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DeliveryStatus: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentMode: string (nullable = true)
 |-- CustomerSince: date (nullable = true)

None
   OrderID    CustomerName ProductCategory  Amount   OrderDate DeliveryStatus  \
0     2824   Donald Walker           Books  783.04  2024-12-26       Returned
1     7912    Brandon Hall       Groceries  905.00  2024-09-12      Cancelled
2     4611    Donald Booth         Fashion  657.96  2025-01-12       Returned
3     3547  Phillip Garcia         Fashion  606.89  2024-03-24       Returned
4     8527    Valerie Gray            Toys   77.87  2024-08-04      Delivered

   Discount              City  PaymentMode CustomerSince
0      0.15      Lake Joyside  Credit Card    2020-10-15
1      0.03     New Jamesside       Wallet    2022-03-15
2      0.01      Lake Roberto       Wallet    2021-08-07
3      0.15  West Melanieview       Wallet    2020-08-08
4      0.17         Mariastad         Cash    2022-11-15
     OrderID     CustomerName ProductCategory  Amount   OrderDate  \
495     2930     Jaime Harris         Fashion  680.00  2025-02-16
496     7980       Dawn Wyatt         Fashion  285.32  2024-04-26
497     7770    Kristin White       Groceries  792.11  2024-08-10
498     6641  Jennifer Taylor            Toys  578.49  2025-04-03
499     4513      Rachel Owen     Electronics  904.97  2024-09-21

    DeliveryStatus  Discount             City PaymentMode CustomerSince
495       Returned      0.20      Robertville        Cash    2021-01-28
496      Cancelled      0.06       Cherylfurt         UPI    2021-04-14
497       Returned      0.07         Kingport         UPI    2022-11-16
498      Delivered      0.10  Lake Jerryburgh        Cash    2020-11-04
499      Delivered      0.12    East Paultown        Cash    2020-10-21
OrderID              int64
CustomerName        object
ProductCategory     object
Amount             float64
OrderDate           object
DeliveryStatus      object
Discount           float64
City                object
PaymentMode         object
CustomerSince       object
dtype: object
   OrderID    CustomerName ProductCategory  Amount   OrderDate DeliveryStatus  \
0     2824   Donald Walker           Books  783.04  2024-12-26       Returned
1     7912    Brandon Hall       Groceries  905.00  2024-09-12      Cancelled
2     4611    Donald Booth         Fashion  657.96  2025-01-12       Returned
3     3547  Phillip Garcia         Fashion  606.89  2024-03-24       Returned
4     8527    Valerie Gray            Toys   77.87  2024-08-04      Delivered

   Discount              City  PaymentMode CustomerSince
0      0.15      Lake Joyside  Credit Card    2020-10-15
1      0.03     New Jamesside       Wallet    2022-03-15
2      0.01      Lake Roberto       Wallet    2021-08-07
3      0.15  West Melanieview       Wallet    2020-08-08
4      0.17         Mariastad         Cash    2022-11-15
     OrderID     CustomerName ProductCategory  Amount   OrderDate  \
495     2930     Jaime Harris         Fashion  680.00  2025-02-16
496     7980       Dawn Wyatt         Fashion  285.32  2024-04-26
497     7770    Kristin White       Groceries  792.11  2024-08-10
498     6641  Jennifer Taylor            Toys  578.49  2025-04-03
499     4513      Rachel Owen     Electronics  904.97  2024-09-21

    DeliveryStatus  Discount             City PaymentMode CustomerSince
495       Returned      0.20      Robertville        Cash    2021-01-28
496      Cancelled      0.06       Cherylfurt         UPI    2021-04-14
497       Returned      0.07         Kingport         UPI    2022-11-16
498      Delivered      0.10  Lake Jerryburgh        Cash    2020-11-04
499      Delivered      0.12    East Paultown        Cash    2020-10-21
OrderID                      int64
CustomerName       string[pyarrow]
ProductCategory    string[pyarrow]
Amount                     float64
OrderDate          string[pyarrow]
DeliveryStatus     string[pyarrow]
Discount                   float64
City               string[pyarrow]
PaymentMode        string[pyarrow]
CustomerSince      string[pyarrow]
dtype: object

**Selection, Renaming, and Filtering**

In [19]:
# PySpark
# Select columns
selected_df = df.select("OrderID", "CustomerName", "Amount")
selected_df.show()

# Rename column
renamed_df = selected_df.withColumnRenamed("Amount", "OrderAmount")
renamed_df.show()

# Filter amount > 500
filtered_df = renamed_df.filter(col("OrderAmount") > 500)
filtered_df.show()

# Filter specific city
city_filtered_df = df.filter(col("City") == "Port Roy")
city_filtered_df.show()

+-------+------------------+------+
|OrderID|      CustomerName|Amount|
+-------+------------------+------+
|   2824|     Donald Walker|783.04|
|   7912|      Brandon Hall| 905.0|
|   4611|      Donald Booth|657.96|
|   3547|    Phillip Garcia|606.89|
|   8527|      Valerie Gray| 77.87|
|   4150|       Amber Perez|352.37|
|   5554|        Roy Martin|148.33|
|   2169|    Carolyn Daniel| 14.09|
|   6313|       Patty Perez| 79.83|
|   6155|Jonathan Wilkerson|882.68|
|   9830|       Kevin Hurst|870.55|
|   9085| Anthony Rodriguez|921.73|
|   2040|     Kyle Mcdonald|327.52|
|   6573|    Jeffrey Chavez|676.02|
|   2743|  Elizabeth Fowler| 47.06|
|   9837|     Tammy Sellers| 46.15|
|   6038|     David Bradley|348.51|
|   3060|       John Pierce|362.09|
|   4295|   Jennifer Powers|684.26|
|   5061|    George Chapman|251.89|
+-------+------------------+------+
only showing top 20 rows

+-------+------------------+-----------+
|OrderID|      CustomerName|OrderAmount|
+-------+------------------+-----------+
|   2824|     Donald Walker|     783.04|
|   7912|      Brandon Hall|      905.0|
|   4611|      Donald Booth|     657.96|
|   3547|    Phillip Garcia|     606.89|
|   8527|      Valerie Gray|      77.87|
|   4150|       Amber Perez|     352.37|
|   5554|        Roy Martin|     148.33|
|   2169|    Carolyn Daniel|      14.09|
|   6313|       Patty Perez|      79.83|
|   6155|Jonathan Wilkerson|     882.68|
|   9830|       Kevin Hurst|     870.55|
|   9085| Anthony Rodriguez|     921.73|
|   2040|     Kyle Mcdonald|     327.52|
|   6573|    Jeffrey Chavez|     676.02|
|   2743|  Elizabeth Fowler|      47.06|
|   9837|     Tammy Sellers|      46.15|
|   6038|     David Bradley|     348.51|
|   3060|       John Pierce|     362.09|
|   4295|   Jennifer Powers|     684.26|
|   5061|    George Chapman|     251.89|
+-------+------------------+-----------+
only showing top 20 rows

+-------+------------------+-----------+
|OrderID|      CustomerName|OrderAmount|
+-------+------------------+-----------+
|   2824|     Donald Walker|     783.04|
|   7912|      Brandon Hall|      905.0|
|   4611|      Donald Booth|     657.96|
|   3547|    Phillip Garcia|     606.89|
|   6155|Jonathan Wilkerson|     882.68|
|   9830|       Kevin Hurst|     870.55|
|   9085| Anthony Rodriguez|     921.73|
|   6573|    Jeffrey Chavez|     676.02|
|   4295|   Jennifer Powers|     684.26|
|   1964|      Taylor Heath|      578.5|
|   9834|    Timothy Duncan|     944.55|
|   3296|     Donald Wright|     579.99|
|   4502|  Stephanie Martin|     656.32|
|   1931|      Angela Lopez|     686.21|
|   5033|     Amanda Miller|     552.76|
|   6147|      James Powers|     561.91|
|   2127|      Jaclyn Moore|     933.32|
|   5905|   Ashley Humphrey|     844.87|
|   2512|   Sandra Williams|     630.21|
|   8239|     Jessica Smith|     610.08|
+-------+------------------+-----------+
only showing top 20 rows

+-------+------------+---------------+------+----------+--------------+--------+--------+-----------+-------------+
|OrderID|CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|    City|PaymentMode|CustomerSince|
+-------+------------+---------------+------+----------+--------------+--------+--------+-----------+-------------+
|   6736|Holly Farmer|    Electronics|624.15|2024-08-21|      Returned|    0.06|Port Roy|Credit Card|   2022-10-21|
+-------+------------+---------------+------+----------+--------------+--------+--------+-----------+-------------+

**3. Data Manipulation**

In [22]:
df_dropped = df.drop("CustomerSince")
df_dropped.show(10)

df_with_final = df_dropped.withColumn("FinalAmount", col("Amount") - (col("Amount") * col("Discount")))
df_with_final.show()

df_sorted = df_with_final.orderBy(col("FinalAmount").desc())
df_sorted.show()

df_replaced = df_sorted.withColumn("DeliveryStatus",
                                 when(col("DeliveryStatus") == "Cancelled", "Order Cancelled")
                                 .otherwise(col("DeliveryStatus")))
df_replaced.show(10)

+-------+------------------+---------------+------+----------+--------------+--------+----------------+-----------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|
+-------+------------------+---------------+------+----------+--------------+--------+----------------+-----------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24| Port Jesseville|       Cash|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|     Lake Joseph|       Cash|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|        Grayside|Credit Card|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|     Richardland|Credit Card|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|      Thomasberg|       Cash|
+-------+------------------+---------------+------+----------+--------------+--------+----------------+-----------+
only showing top 10 rows

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+------------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|       FinalAmount|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+------------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|           665.584|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|            877.85|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|          651.3804|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|          515.8565|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash| 64.63210000000001|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|          267.8012|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|          108.2809|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|10.567499999999999|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|           679.029|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|           40.9422|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|           43.8425|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|268.35269999999997|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|          540.5654|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|183.87969999999999|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+------------------+
only showing top 20 rows

+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-----------------+
|OrderID|     CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|      FinalAmount|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-----------------+
|   5573|   Jordan Frazier|          Books|981.05|2025-03-19|     Cancelled|    0.02|      Sheilaville|       Cash|          961.429|
|   8474|      Heidi Brown|    Electronics|968.91|2023-11-23|     Cancelled|    0.02|       Riverafort|       Cash|         949.5318|
|   8889|      Karen Garza|          Books| 998.3|2024-10-17|     Cancelled|    0.06|       Johnsonton|Credit Card|938.4019999999999|
|   2127|     Jaclyn Moore|      Groceries|933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|         923.9868|
|   9806|    Samantha Gill|      Groceries|993.17|2024-11-12|     Cancelled|    0.07|     New Seanstad|     Wallet|         923.6481|
|   5593|   Kristy Johnson|        Fashion|961.35|2025-05-24|      Returned|    0.05|    Alexisborough|       Cash|         913.2825|
|   2120| Alejandra Santos|    Electronics|948.84|2024-05-09|      Returned|    0.04|     Jenniferberg|     Wallet|         910.8864|
|   5949|Dr. Michael Evans|           Toys|918.14|2023-07-29|       Pending|    0.01|   East Scottfort|     Wallet|908.9585999999999|
|   1422|    Hunter Kramer|          Books| 973.2|2024-09-02|      Returned|    0.07|       Alfredview|       Cash|          905.076|
|   2904|   Michelle Burns|        Fashion|922.29|2025-05-01|      Returned|    0.02|      Stokesmouth|Credit Card|         903.8442|
|   7566|    Jesus Houston|        Fashion|899.31|2024-11-19|     Delivered|     0.0|       Marshburgh|Credit Card|           899.31|
|   7511|      Regina Diaz|           Toys|932.21|2025-02-06|     Cancelled|    0.04|        Smithside|       Cash|         894.9216|
|   9085|Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|894.0781000000001|
|   1436|     James Brooks|      Groceries|978.96|2024-03-28|     Cancelled|    0.09|West Jeffreymouth|Credit Card|         890.8536|
|   6008|  Brittany Knight|          Books|903.71|2025-02-19|       Pending|    0.02|       Susanburgh|       Cash|         885.6358|
|   9834|   Timothy Duncan|    Electronics|944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|878.4314999999999|
|   8253|  Kevin Patterson|          Books|998.21|2024-08-17|     Cancelled|    0.12|   New Susanville|        UPI|         878.4248|
|   7912|     Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|           877.85|
|   1654|   Frank Williams|          Books|903.78|2025-05-27|     Cancelled|    0.03|       Tracyshire|     Wallet|         876.6666|
|   9239|    Tracy Montoya|    Electronics|897.41|2025-02-14|     Cancelled|    0.04|        Port John|     Wallet|         861.5136|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-----------------+
only showing top 20 rows

+-------+-----------------+---------------+------+----------+---------------+--------+--------------+-----------+-----------------+
|OrderID|     CustomerName|ProductCategory|Amount| OrderDate| DeliveryStatus|Discount|          City|PaymentMode|      FinalAmount|
+-------+-----------------+---------------+------+----------+---------------+--------+--------------+-----------+-----------------+
|   5573|   Jordan Frazier|          Books|981.05|2025-03-19|Order Cancelled|    0.02|   Sheilaville|       Cash|          961.429|
|   8474|      Heidi Brown|    Electronics|968.91|2023-11-23|Order Cancelled|    0.02|    Riverafort|       Cash|         949.5318|
|   8889|      Karen Garza|          Books| 998.3|2024-10-17|Order Cancelled|    0.06|    Johnsonton|Credit Card|938.4019999999999|
|   2127|     Jaclyn Moore|      Groceries|933.32|2025-03-11|       Returned|    0.01|   Cherylhaven|       Cash|         923.9868|
|   9806|    Samantha Gill|      Groceries|993.17|2024-11-12|Order Cancelled|    0.07|  New Seanstad|     Wallet|         923.6481|
|   5593|   Kristy Johnson|        Fashion|961.35|2025-05-24|       Returned|    0.05| Alexisborough|       Cash|         913.2825|
|   2120| Alejandra Santos|    Electronics|948.84|2024-05-09|       Returned|    0.04|  Jenniferberg|     Wallet|         910.8864|
|   5949|Dr. Michael Evans|           Toys|918.14|2023-07-29|        Pending|    0.01|East Scottfort|     Wallet|908.9585999999999|
|   1422|    Hunter Kramer|          Books| 973.2|2024-09-02|       Returned|    0.07|    Alfredview|       Cash|          905.076|
|   2904|   Michelle Burns|        Fashion|922.29|2025-05-01|       Returned|    0.02|   Stokesmouth|Credit Card|         903.8442|
+-------+-----------------+---------------+------+----------+---------------+--------+--------------+-----------+-----------------+
only showing top 10 rows

**4. Aggregations and GroupBy**

In [24]:
status_count = df.groupBy("DeliveryStatus").count()
status_count.show()
avg_amount = df.groupBy("ProductCategory").avg("Amount")
avg_amount.show()
city_sales = df.groupBy("City").sum("Amount")
city_sales.show(10)

+--------------+-----+
|DeliveryStatus|count|
+--------------+-----+
|      Returned|  117|
|     Cancelled|  149|
|     Delivered|  119|
|       Pending|  115|
+--------------+-----+

+---------------+------------------+
|ProductCategory|       avg(Amount)|
+---------------+------------------+
|        Fashion| 500.6308235294116|
|      Groceries|459.51786407766957|
|    Electronics|           551.745|
|          Books| 568.6003773584907|
|           Toys| 534.2837499999999|
+---------------+------------------+

+----------------+-----------+
|            City|sum(Amount)|
+----------------+-----------+
|     Ramseymouth|     761.06|
|East Edwardshire|     291.26|
|      Thomasberg|     882.68|
|     Laurenville|     383.26|
| South Colinstad|     786.27|
|    Lake Douglas|     975.09|
|   Williamsmouth|      10.78|
|      Gordonport|     514.99|
|  West Dawnmouth|       12.8|
|        Seanbury|     814.39|
+----------------+-----------+
only showing top 10 rows

**5. Null Handling & Update**

In [27]:
from pyspark.sql.functions import lit
df_with_nulls = df.withColumn("City", when(col("OrderID") % 5 == 0, lit(None)).otherwise(col("City")))

df_filled = df_with_nulls.fillna({"City": "Unknown"})

# Handle nulls - drop rows with nulls in City
df_dropped_nulls = df_with_nulls.dropna(subset=["City"])

# Tag high-value customers
df_tagged = df.withColumn("CustomerType", when(col("Amount") > 800, "High Value").otherwise("Regular"))
df_tagged.show()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|CustomerType|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|     Regular|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|  High Value|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|     Regular|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|     Regular|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|     Regular|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|     Regular|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|     Regular|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|     Regular|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|     Regular|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|  High Value|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|  High Value|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|  High Value|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     Regular|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|     Regular|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|     Regular|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|     Regular|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     Regular|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     Regular|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|     Regular|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|     Regular|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------+
only showing top 20 rows

**6. Date & Time Functions**

In [28]:
df_dates = df.withColumn("OrderYear", year("OrderDate")) \
             .withColumn("OrderMonth", month("OrderDate"))
df_dates.show()

df_loyalty = df_dates.withColumn("CustomerSinceDate", to_date("CustomerSince")) \
.withColumn ("LoyaltyYears",datediff(current_date(), col("CustomerSinceDate")) / 365)
df_dates.show()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+---------+----------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|OrderYear|OrderMonth|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+---------+----------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|     2024|        12|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|     2024|         9|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|     2025|         1|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|     2024|         3|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|     2024|         8|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|     2024|         1|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|     2024|         3|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|     2023|        10|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|     2023|         6|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|     2024|        10|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|     2024|         4|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|     2024|        10|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     2023|        12|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|     2024|        12|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|     2024|         9|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|     2024|         9|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     2023|         8|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     2023|        12|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|     2024|         3|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|     2023|        11|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+---------+----------+
only showing top 20 rows

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+---------+----------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|OrderYear|OrderMonth|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+---------+----------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|     2024|        12|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|     2024|         9|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|     2025|         1|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|     2024|         3|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|     2024|         8|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|     2024|         1|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|     2024|         3|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|     2023|        10|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|     2023|         6|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|     2024|        10|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|     2024|         4|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|     2024|        10|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     2023|        12|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|     2024|        12|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|     2024|         9|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|     2024|         9|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     2023|         8|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     2023|        12|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|     2024|         3|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|     2023|        11|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+---------+----------+
only showing top 20 rows

**7. Joins and Unions**

In [30]:
# Second DataFrame
from pyspark.sql import Row
regions_data = [Row(City="Port Jesseville", Region="West"),
    Row(City="Grayside", Region="South")]
regions_df = spark.createDataFrame(regions_data)

# Inner and left join
inner_join = df.join(regions_df, "City", "inner")
inner_join.show()
left_join = df.join(regions_df, "City", "left")
left_join.show()

#Union
df_2023 = df.filter(year("OrderDate") == 2023)
df_2024 = df.filter(year("OrderDate") == 2024)
union_df = df_2023.union(df_2024)
union_df.show()

+---------------+-------+--------------+---------------+------+----------+--------------+--------+-----------+-------------+------+
|           City|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince|Region|
+---------------+-------+--------------+---------------+------+----------+--------------+--------+-----------+-------------+------+
|Port Jesseville|   4150|   Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|  West|
|       Grayside|   2169|Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09| South|
+---------------+-------+--------------+---------------+------+----------+--------------+--------+-----------+-------------+------+

+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+------+
|             City|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince|Region|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+------+
|       Thomasberg|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Cash|   2021-06-20|  NULL|
|   East Nathaniel|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|       Cash|   2021-02-07|  NULL|
|  Port Jesseville|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|  West|
|       North Chad|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       Cash|   2023-02-07|  NULL|
|    Lake Toddland|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|        UPI|   2022-09-07|  NULL|
|     Lake Joyside|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|Credit Card|   2020-10-15|  NULL|
|       Brandtside|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Cash|   2023-05-09|  NULL|
|   West Elizabeth|   1964|      Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|       Cash|   2021-04-30|  NULL|
|Lake Jenniferside|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|     Wallet|   2021-07-21|  NULL|
|        Port Erin|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        UPI|   2022-12-15|  NULL|
|      Teresaburgh|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|     Wallet|   2022-07-30|  NULL|
|     Lake Roberto|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Wallet|   2021-08-07|  NULL|
|       Tracyville|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|        UPI|   2021-12-17|  NULL|
|      Jeffreyberg|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|     Wallet|   2022-08-02|  NULL|
|      Lake Joseph|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|       Cash|   2023-04-29|  NULL|
| West Melanieview|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|     Wallet|   2020-08-08|  NULL|
|    New Jamesside|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|     Wallet|   2022-03-15|  NULL|
|         Grayside|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09| South|
|        Mariastad|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Cash|   2022-11-15|  NULL|
|      Richardland|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|Credit Card|   2021-04-25|  NULL|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+------+
only showing top 20 rows

+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|    CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2169|  Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|
|   6313|     Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|
|   2040|   Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|
|   6038|   David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|
|   3060|     John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|
|   5061|  George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|
|   1964|    Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|
|   2612|Nicholas Mcbride|        Fashion|219.05|2023-08-26|     Delivered|    0.27|       East James|        UPI|   2022-04-29|
|   1828|  Kimberly Smith|           Toys| 89.01|2023-08-14|     Delivered|    0.04|     East Richard|Credit Card|   2022-06-19|
|   4502|Stephanie Martin|    Electronics|656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|
|   1958| Kimberly Adkins|    Electronics| 98.66|2023-07-17|     Cancelled|    0.13|  New Thomashaven|     Wallet|   2021-02-01|
|   5905| Ashley Humphrey|          Books|844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|
|   8239|   Jessica Smith|          Books|610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|
|   9379|      Steven Lee|          Books|181.97|2023-07-07|      Returned|    0.22|        Smithside|        UPI|   2023-05-04|
|   3851|Elizabeth Kelley|        Fashion|517.15|2023-06-03|     Cancelled|    0.19|    Justinchester|Credit Card|   2022-11-19|
|   1757|   John Atkinson|          Books|724.04|2023-07-29|      Returned|    0.06|       Perryshire|       Cash|   2021-03-31|
|   9486|   Justin Lowery|    Electronics|554.55|2023-09-05|       Pending|    0.24|    Andersonmouth|     Wallet|   2023-04-05|
|   3607|     Karen Green|          Books|621.24|2023-12-12|     Cancelled|    0.18|       Katiehaven|        UPI|   2022-06-24|
|   4919|  Billy Mitchell|    Electronics|653.51|2023-12-31|     Delivered|    0.08|         Luisside|        UPI|   2020-10-05|
|   3267| James Hernandez|          Books|593.98|2023-11-16|      Returned|     0.2|   South Rickside|     Wallet|   2022-05-26|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

 **8. Complex JSON Simulation (Advanced)**

In [33]:
from pyspark.sql.functions import to_json, struct, from_json, schema_of_json
#Convert to JSON
sales_json =df.withColumn("json_data", to_json(struct([col(c) for c in df.columns])))
sales_json.select("json_data").show(truncate=False)

#Load back to DataFrame
sample_json = sales_json.select("json_data").first()["json_data"]
json_schema = schema_of_json(sample_json)
df_loaded = sales_json.select(from_json("json_data", json_schema).alias("data")).select("data.*")
df_loaded.show()

#save the data in json
df.write.mode("overwrite").json("sales_json")

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|json_data                                                                                                                                                                                                                                        |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"OrderID":2824,"CustomerName":"Donald Walker","ProductCategory":"Books","Amount":783.04,"OrderDate":"2024-12-26","DeliveryStatus":"Returned","Discount":0.15,"City":"Lake Joyside","PaymentMode":"Credit Card","CustomerSince":"2020-10-15"}    |
|{"OrderID":7912,"CustomerName":"Brandon Hall","ProductCategory":"Groceries","Amount":905.0,"OrderDate":"2024-09-12","DeliveryStatus":"Cancelled","Discount":0.03,"City":"New Jamesside","PaymentMode":"Wallet","CustomerSince":"2022-03-15"}     |
|{"OrderID":4611,"CustomerName":"Donald Booth","ProductCategory":"Fashion","Amount":657.96,"OrderDate":"2025-01-12","DeliveryStatus":"Returned","Discount":0.01,"City":"Lake Roberto","PaymentMode":"Wallet","CustomerSince":"2021-08-07"}        |
|{"OrderID":3547,"CustomerName":"Phillip Garcia","ProductCategory":"Fashion","Amount":606.89,"OrderDate":"2024-03-24","DeliveryStatus":"Returned","Discount":0.15,"City":"West Melanieview","PaymentMode":"Wallet","CustomerSince":"2020-08-08"}  |
|{"OrderID":8527,"CustomerName":"Valerie Gray","ProductCategory":"Toys","Amount":77.87,"OrderDate":"2024-08-04","DeliveryStatus":"Delivered","Discount":0.17,"City":"Mariastad","PaymentMode":"Cash","CustomerSince":"2022-11-15"}                |
|{"OrderID":4150,"CustomerName":"Amber Perez","ProductCategory":"Books","Amount":352.37,"OrderDate":"2024-01-13","DeliveryStatus":"Cancelled","Discount":0.24,"City":"Port Jesseville","PaymentMode":"Cash","CustomerSince":"2022-01-13"}         |
|{"OrderID":5554,"CustomerName":"Roy Martin","ProductCategory":"Toys","Amount":148.33,"OrderDate":"2024-03-04","DeliveryStatus":"Cancelled","Discount":0.27,"City":"Lake Joseph","PaymentMode":"Cash","CustomerSince":"2023-04-29"}               |
|{"OrderID":2169,"CustomerName":"Carolyn Daniel","ProductCategory":"Electronics","Amount":14.09,"OrderDate":"2023-10-07","DeliveryStatus":"Delivered","Discount":0.25,"City":"Grayside","PaymentMode":"Credit Card","CustomerSince":"2021-05-09"} |
|{"OrderID":6313,"CustomerName":"Patty Perez","ProductCategory":"Groceries","Amount":79.83,"OrderDate":"2023-06-27","DeliveryStatus":"Cancelled","Discount":0.12,"City":"Richardland","PaymentMode":"Credit Card","CustomerSince":"2021-04-25"}   |
|{"OrderID":6155,"CustomerName":"Jonathan Wilkerson","ProductCategory":"Fashion","Amount":882.68,"OrderDate":"2024-10-14","DeliveryStatus":"Cancelled","Discount":0.27,"City":"Thomasberg","PaymentMode":"Cash","CustomerSince":"2021-06-20"}     |
|{"OrderID":9830,"CustomerName":"Kevin Hurst","ProductCategory":"Books","Amount":870.55,"OrderDate":"2024-04-08","DeliveryStatus":"Delivered","Discount":0.22,"City":"Jeffreyberg","PaymentMode":"Wallet","CustomerSince":"2022-08-02"}           |
|{"OrderID":9085,"CustomerName":"Anthony Rodriguez","ProductCategory":"Groceries","Amount":921.73,"OrderDate":"2024-10-02","DeliveryStatus":"Cancelled","Discount":0.03,"City":"Port Erin","PaymentMode":"UPI","CustomerSince":"2022-12-15"}      |
|{"OrderID":2040,"CustomerName":"Kyle Mcdonald","ProductCategory":"Toys","Amount":327.52,"OrderDate":"2023-12-15","DeliveryStatus":"Returned","Discount":0.06,"City":"Lake Jenniferside","PaymentMode":"Wallet","CustomerSince":"2021-07-21"}     |
|{"OrderID":6573,"CustomerName":"Jeffrey Chavez","ProductCategory":"Books","Amount":676.02,"OrderDate":"2024-12-14","DeliveryStatus":"Cancelled","Discount":0.19,"City":"Teresaburgh","PaymentMode":"Wallet","CustomerSince":"2022-07-30"}        |
|{"OrderID":2743,"CustomerName":"Elizabeth Fowler","ProductCategory":"Electronics","Amount":47.06,"OrderDate":"2024-09-18","DeliveryStatus":"Delivered","Discount":0.13,"City":"East Nathaniel","PaymentMode":"Cash","CustomerSince":"2021-02-07"}|
|{"OrderID":9837,"CustomerName":"Tammy Sellers","ProductCategory":"Books","Amount":46.15,"OrderDate":"2024-09-10","DeliveryStatus":"Cancelled","Discount":0.05,"City":"Tracyville","PaymentMode":"UPI","CustomerSince":"2021-12-17"}              |
|{"OrderID":6038,"CustomerName":"David Bradley","ProductCategory":"Fashion","Amount":348.51,"OrderDate":"2023-08-03","DeliveryStatus":"Returned","Discount":0.23,"City":"Lake Toddland","PaymentMode":"UPI","CustomerSince":"2022-09-07"}         |
|{"OrderID":3060,"CustomerName":"John Pierce","ProductCategory":"Toys","Amount":362.09,"OrderDate":"2023-12-25","DeliveryStatus":"Returned","Discount":0.03,"City":"Brandtside","PaymentMode":"Cash","CustomerSince":"2023-05-09"}                |
|{"OrderID":4295,"CustomerName":"Jennifer Powers","ProductCategory":"Electronics","Amount":684.26,"OrderDate":"2024-03-19","DeliveryStatus":"Cancelled","Discount":0.21,"City":"Lammouth","PaymentMode":"UPI","CustomerSince":"2020-12-06"}       |
|{"OrderID":5061,"CustomerName":"George Chapman","ProductCategory":"Electronics","Amount":251.89,"OrderDate":"2023-11-28","DeliveryStatus":"Pending","Discount":0.27,"City":"North Chad","PaymentMode":"Cash","CustomerSince":"2023-02-07"}       |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

+------+-----------------+------------------+-------------+--------------+--------+----------+-------+-----------+---------------+
|Amount|             City|      CustomerName|CustomerSince|DeliveryStatus|Discount| OrderDate|OrderID|PaymentMode|ProductCategory|
+------+-----------------+------------------+-------------+--------------+--------+----------+-------+-----------+---------------+
|783.04|     Lake Joyside|     Donald Walker|   2020-10-15|      Returned|    0.15|2024-12-26|   2824|Credit Card|          Books|
| 905.0|    New Jamesside|      Brandon Hall|   2022-03-15|     Cancelled|    0.03|2024-09-12|   7912|     Wallet|      Groceries|
|657.96|     Lake Roberto|      Donald Booth|   2021-08-07|      Returned|    0.01|2025-01-12|   4611|     Wallet|        Fashion|
|606.89| West Melanieview|    Phillip Garcia|   2020-08-08|      Returned|    0.15|2024-03-24|   3547|     Wallet|        Fashion|
| 77.87|        Mariastad|      Valerie Gray|   2022-11-15|     Delivered|    0.17|2024-08-04|   8527|       Cash|           Toys|
|352.37|  Port Jesseville|       Amber Perez|   2022-01-13|     Cancelled|    0.24|2024-01-13|   4150|       Cash|          Books|
|148.33|      Lake Joseph|        Roy Martin|   2023-04-29|     Cancelled|    0.27|2024-03-04|   5554|       Cash|           Toys|
| 14.09|         Grayside|    Carolyn Daniel|   2021-05-09|     Delivered|    0.25|2023-10-07|   2169|Credit Card|    Electronics|
| 79.83|      Richardland|       Patty Perez|   2021-04-25|     Cancelled|    0.12|2023-06-27|   6313|Credit Card|      Groceries|
|882.68|       Thomasberg|Jonathan Wilkerson|   2021-06-20|     Cancelled|    0.27|2024-10-14|   6155|       Cash|        Fashion|
|870.55|      Jeffreyberg|       Kevin Hurst|   2022-08-02|     Delivered|    0.22|2024-04-08|   9830|     Wallet|          Books|
|921.73|        Port Erin| Anthony Rodriguez|   2022-12-15|     Cancelled|    0.03|2024-10-02|   9085|        UPI|      Groceries|
|327.52|Lake Jenniferside|     Kyle Mcdonald|   2021-07-21|      Returned|    0.06|2023-12-15|   2040|     Wallet|           Toys|
|676.02|      Teresaburgh|    Jeffrey Chavez|   2022-07-30|     Cancelled|    0.19|2024-12-14|   6573|     Wallet|          Books|
| 47.06|   East Nathaniel|  Elizabeth Fowler|   2021-02-07|     Delivered|    0.13|2024-09-18|   2743|       Cash|    Electronics|
| 46.15|       Tracyville|     Tammy Sellers|   2021-12-17|     Cancelled|    0.05|2024-09-10|   9837|        UPI|          Books|
|348.51|    Lake Toddland|     David Bradley|   2022-09-07|      Returned|    0.23|2023-08-03|   6038|        UPI|        Fashion|
|362.09|       Brandtside|       John Pierce|   2023-05-09|      Returned|    0.03|2023-12-25|   3060|       Cash|           Toys|
|684.26|         Lammouth|   Jennifer Powers|   2020-12-06|     Cancelled|    0.21|2024-03-19|   4295|        UPI|    Electronics|
|251.89|       North Chad|    George Chapman|   2023-02-07|       Pending|    0.27|2023-11-28|   5061|       Cash|    Electronics|
+------+-----------------+------------------+-------------+--------------+--------+----------+-------+-----------+---------------+
only showing top 20 rows

**9. Applying Functions**

In [38]:
def order_size_tag(amount):
    if amount > 800:
        return "Big"
    elif amount > 300:
        return "Medium"
    else:
        return "Small"

# Register UDF
order_size_udf = udf(order_size_tag, StringType())

# Apply UDF
df_tagged = df.withColumn("OrderSize", order_size_udf(col("Amount")))
df_tagged.select("OrderID", "CustomerName", "Amount", "OrderSize").show()

+-------+------------------+------+---------+
|OrderID|      CustomerName|Amount|OrderSize|
+-------+------------------+------+---------+
|   2824|     Donald Walker|783.04|   Medium|
|   7912|      Brandon Hall| 905.0|      Big|
|   4611|      Donald Booth|657.96|   Medium|
|   3547|    Phillip Garcia|606.89|   Medium|
|   8527|      Valerie Gray| 77.87|    Small|
|   4150|       Amber Perez|352.37|   Medium|
|   5554|        Roy Martin|148.33|    Small|
|   2169|    Carolyn Daniel| 14.09|    Small|
|   6313|       Patty Perez| 79.83|    Small|
|   6155|Jonathan Wilkerson|882.68|      Big|
|   9830|       Kevin Hurst|870.55|      Big|
|   9085| Anthony Rodriguez|921.73|      Big|
|   2040|     Kyle Mcdonald|327.52|   Medium|
|   6573|    Jeffrey Chavez|676.02|   Medium|
|   2743|  Elizabeth Fowler| 47.06|    Small|
|   9837|     Tammy Sellers| 46.15|    Small|
|   6038|     David Bradley|348.51|   Medium|
|   3060|       John Pierce|362.09|   Medium|
|   4295|   Jennifer Powers|684.26|   Medium|
|   5061|    George Chapman|251.89|    Small|
+-------+------------------+------+---------+
only showing top 20 rows